extends layout

block content
  h1= title
  p Welcome to #{title}
  
  <input type="checkbox" name="check" value="1">リストにない場合バーコードを作製する
  #form_area
    <input type="text" id="input form_0" placeholder="form-0"><br>
  <input type="button" value="フォーム追加" onclick="addForm()">
  <input type="button" value="検索" onclick="search()">

  block scripts
  script(type="text/javascript").
      function search(){
        var tmpTxt=document.getElementById("input form_0").value
        console.log(tmpTxt)
      }
      var i = 1
      function addForm() {
        var temp=document.createElement("input");
        //- console.log("test");
        temp.type="text";
        temp.id="input form_"+i;
        temp.placeholder= 'form-'+i;
        console.log(temp);
        var parent=document.getElementById("form_area");
        parent.appendChild(temp);
        parent.appendChild(document.createElement("br"));
        i++;
      }